ss-table {
  display: table;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  .container-table {
    display: table-cell;
    vertical-align: middle;

    .container-lines {
      height: 300px;
      margin: auto;
      position: relative;
      width: 300px;
    }
  }
}